APP_PORT=4000

AUTH_SERVICE_HOST=127.0.0.1
AUTH_SERVICE_PORT=4001

USER_SERVICE_HOST=127.0.0.1
USER_SERVICE_PORT=4002

ATTENDANCE_SERVICE_HOST=127.0.0.1
ATTENDANCE_SERVICE_PORT=4003

FILE_SERVICE_HOST=127.0.0.1
FILE_SERVICE_PORT=4004

DASHBOARD_SERVICE_HOST=127.0.0.1
DASHBOARD_SERVICE_PORT=4005

JWT_SECRET=secretkey

// Catatan: bagian ini digunakan sementara untuk keperluan development/testing, silahkan digunakan
//mysql-dev
DB_HOST=103.127.132.118
DB_PORT = 3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE_USER=user_services
DB_DATABASE_ATTENDANCE=attendance_services

//aws-dev
AWS_REGION=idn
AWS_S3_BUCKET=development-dev
AWS_ACCESS_KEY_ID=69d9363d12e2b3ade863
AWS_SECRET_ACCESS_KEY=Afu3CM+7VgWy9JGnzCDY1WKQFwz5M+oQNNvscM+r
AWS_S3_ENDPOINT=https://nos.wjv-1.neo.id
AWS_S3_PUBLIC_BASE_URL=https://nos.wjv-1.neo.id/development-dev